a:hover{color: black;}
#w{
    text-size-adjust:25px;
     ;
}
#im1{
    width: 100%;
    height: 350px;
}
#the{
    padding:10%;
}
.n12{
    background-color: black;
    
}
.a{
    color: silver;
}
.b2{
   color: wheat;
}
.b3{
    color: rgb(255, 0, 0);
}
#mnb{
    width: 100%;
    height:200px;
}
.n12{
    margin-bottom:  20px; ;
}